## useBypassCommand: bypassコマンドが使えるかどうか、使わない場合SQLiteは使用されません。
SQLite:
  SQLiteLocate: bypass.db
  useBypassCommand: true

## MYSQLがこの中に入っていないのでSpigotのSQLに頼ることになります なので古いspigotは暗号化をlatin1に変更する必要があります
MySQL:
  Server: 'localhost'
  Port: 3306
  Database: 'playerrolechecker'
  Username: 'playerrolecheckeruser'
  Password: 'playerrolecheckerpass'
  Option: '?allowPublicKeyRetrieval=true&useSSL=false&characterEncoding=latin1&autoReconnect=true'
  UseSQLDebug: false
## JoinCommand: プレイヤーが参加したときにコマンドを打ちます
## %name% - プレイヤー名
## %uuid% - UUID
## JoinCommand:
## - 'COMMAND HERE'
JoinCommand:
## DiscordToken: DiscordBotのトークン
## RoleID: RoleID(必須)
## GuildID: GuildID(必須ではない)
Discord:
  DiscordToken: TokenHere
  GuildID:
  RoleID:
    - roleid1
    - roleid2
## Minecraft: 参加メッセージ
## %name% - プレイヤー名
## %uuid% - UUID
## %discordid% - discordID
## %role% - role
Minecraft:
  kickMessage:
    - '&6あなたには参加権限がありません！'
    - '&bDiscordを確認してみてみるか、管理者に報告してください。'
  errorCaught:
    - '&cエラーを確認しました！'
    - '&b管理者に報告してください！'
  joinMessage: '&a%name%&fが入室しました'
  joinMessageBoolean: true
  message:
    - '&a-----------------情報------------------'
    - 'MinecraftName: %name%'
    - 'DiscordID: %discordid%'
    - 'DiscordRole: %role%'
    - '&a-------------------------------------'